body {
  padding-bottom: 20px;
  padding-top: 45px;
}

#board-title {
  h2, h3{
    line-height: 16px
  }
  a {
    color: #222;
  }
}

.panel {
  padding: 8px;
  word-wrap: break-word;
  overflow: hidden;
  hr {
    margin-top: 4px;
    margin-bottom: 0px;
  }
  .button {
    margin-bottom: 0;
  }
  .show {
      margin-left: 7px;
    }
}

.comment {
  padding-top: 7px;
  padding-bottom: 3px;
  line-height: 1.6;
  p {
    margin-bottom: 0;
  }
}

.discussion-panel {
  background: #FDFDFD;
}

.post-panel {
  background: #F1F1F1;
  margin-bottom: 5px;
}

.pagination-centered {
  clear: both;
}